.hero{
    display: flex;
    justify-content: space-between;
    
}

.left-h{
    padding: 2rem;
    padding-top: 1.5rem;
    flex:3;
    display:flex;
    gap:2rem;
    flex-direction: column;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
    background: cover;
    mix-blend-mode: overlay;
    background-color: var(--appColor);
   
    /* overflow: hidden; */
}

.right-h{
    flex:1;
    position: relative;
    background-color: var(--orange);
}
.btn-LS{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap:20px;
}


.the-best-ad{
    margin-top : 4rem;
    background-color: #363d42;
    border-radius:4rem;
    width:fit-content;
    padding: 20px 13px;

    text-transform: uppercase;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.the-best-ad>span{
    z-index: 2;
}

.the-best-ad>div{
    position:absolute;
    background-color: var(--orange);
    width:5.4rem;
    height: 80%;
    left:8px;
    border-radius: 3rem;
    z-index: 1;
}

.hero-text{
    display: flex;
    flex-direction:column;
    gap: 1.5rem;
    text-transform:uppercase;
    font-size: 4.5rem;
    font-weight: bold;
    color:white;
    text-overflow: inherit;
}

.hero-text>div:nth-of-type(3){
    font-size:1rem;
    font-weight:200;
    text-transform: none;
    letter-spacing: 1px;
    width:80%;
}

.figures{
    display: flex;
    gap:2rem;
}

.figures>div{
    display: flex;
    flex-direction: column;
}

.figures>div>span:nth-of-type(1){
    color:white;
    font-size: 2rem;
}

.figures>div>span:nth-of-type(2){
    color:var(--gray);
    text-transform: uppercase;
}

.hero-buttons{
    display: flex;
    gap: 1rem;
    font-weight:normal;
}

.hero-buttons>:nth-child(1){
    color:white;
    background-color: var(--orange);
    width: 8rem;
}

.hero-buttons>:nth-child(2){
    color: white;
    background-color: transparent;
    width: 8rem; 
    border: 2px solid var(--orange);
}

.right-h>.btn{
    position:absolute;
    right:3rem;
    top:2rem;
    color:black;
}

.heart-rate{
    display: flex;
    flex-direction: column;
    gap:1rem;
    background-color: var(--darkGrey);
    width: fit-content;
    padding: 1rem;
    align-items: start;
    border-radius: 5px;
    position: absolute;
    right: 4rem;
    top: 7rem;
}
.heart-rate>img{
    width:2rem;
}

.heart-rate>:nth-child(2){
   color: var(--gray);
}

.heart-rate>:nth-child(3){
    color:white;
    font-size: 1.5rem;
}

.hero-image{
    position:absolute;
    top: 10rem;
    right: 8rem;
    width: 23rem;
}

.hero-image-back{
    position: absolute;
    top:4rem;
    right:20rem;
    z-index: -1;
    width: 15rem;
}

.calories{
    display: flex;
    gap:2rem;
    background-color:var(--caloryCard);
    border-radius: 5px;
    padding: 1rem;
    width: fit-content;
    position:absolute;
    top:32rem;
    right:28rem;
}

.calories > img{
    width: 3rem;
}

.calories > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calories > div > :nth-child(1){
    color: var(--grey);
}

.calories > div > :nth-child(2){
    color:white;
    font: size 1.5rem;
}

.hero-blur{
    width:22rem;
    height:30rem;
    left:0;
}

@media screen and (max-width:768px){

    .hero{
        flex-direction :column;
        /* height: 270vh; */
       
    }

    .hero-blur{
        width:14rem;
    }

    .the-best-ad{
        margin-top:0;
        font-size: small;
        align-self:center;
        transform:scale(0.8);

    }

    .hero-text{
        font-size: xx-large;
        align-items: center;
        justify-content: center;
    }

    .hero-text > div:nth-of-type(3){
        font-size:small;
        font-weight: 200;
        letter-spacing: 1px;
        text-align: center;
    }


    .hero-buttons{
        justify-content: center;
       
    }

    .figures>div>span:nth-of-type(1){
        font-size: large;
    }

    .figures>div>span:nth-of-type(2){
        font-size: small;
    }

    .right-h{
        position: relative;
       
    }
    .btn-LS{
        /* display: none; */
         position: relative;
      top:-180%;
        left: 100%;
    }
   
    

    .heart-rate{
        height: 2rem;
        width: 8rem;
        right:1rem;
        top:1%;
        z-index: 15;
    }
    .heart-rate>img{
        width:1rem;
    }
    
    .heart-rate>:nth-child(2){
       position: relative;
       bottom:110%;
       left:30%;
    }

    .heart-rate>:nth-child(3){
        font-size: 16px;
        position: relative;
        bottom:150%;
        left:30%;
     }

    .calories{
        height:2rem;
        width: 20%;
        position: relative;
        top:-110%;
        left: 5%;
    }

    .calories>img{
        width:.5rem;
       
    }
    .calories>div>:nth-child(1){
        font-size: 12px;
        /* white-space: nowrap; */
        position: relative;
        left: -50%;
    }

    .calories>div>:nth-child(2){
        white-space: nowrap;
        color: white;
        font-size: 12px;
        position: relative;
        left: -50%;
    }

    .hero-image{
        position: relative;
        width:15rem;
        left:4rem;
        top:-115%;
        align-self: center;
        z-index: 15;
    }

    .hero-image-back{
        /* position: relative; */
        width: 15rem;
        left:0rem;
        top:-5%;
        z-index: 5;
    }

}